@import 'src/scss/variables.scss';

.table {
  border-collapse: collapse;
  margin: 0 auto;

  & tr {
    border: 1px solid $white;
  }

  & th,
  & td {
    text-align: center;
    padding: $space/2 $space;
  }
}