// -------------------- SPACES ------------------------
$space:                       16px;
$container:                   1250px;
$container-small:             540px;

$screen-phone:            480px;
$screen-tablet:           767px;
$screen-desktop:          1279px;

// -------------------- COLORS ------------------------

// basic
$black:                                 #000000;
$white:                                 #e0e0e0;
$bg-color:                              #1c1c1c;
$nav-bg-color:                          #4c4c4c;
$link-hover-color:                      #d3d3d3;
